.step-element {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
  border-color: rgb(216, 216, 216);
  border-style: solid;
  border-width: 1px;
  padding: 1px 7px 2px;
  margin: .5rem .5rem 1.4rem .5rem;
}

.step-element__ico {
  width: 1rem;
  height: 1rem;
}

.step-element__title {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
  bottom: -1.2rem;
  font-size: .8rem;
  line-height: 1;
}