.stage__row {
  margin: 1rem;
}

.stage__col {
  border-radius: .5rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  background-color: white;
  padding: .5rem;
  cursor: pointer;
}

.stage__title-cont {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.stage__expand-btn {
  margin-right: .5rem;
}
