.panel {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 15rem;
  max-width: 100%;
  border-radius: .5rem;
  box-shadow: 0 0 24px 0 rgba(0,0,0,0.22), 0 24px 24px 0 rgba(0,0,0,0.30);
  background-color: white;
  padding: .5rem;
}

.panel__btns {
  display: flex;
  justify-content: space-between;
}

.panel__title {
  margin-bottom: .5rem;
  font-size: 1.4rem;
}