.step__cont {
  display: flex;
  align-items: center;
  margin: .5rem 0;
}

.step__grid {
  display: flex;
  align-self: center;
}

.step__add-cont {
  margin: .5rem .5rem 1.4rem .5rem;
}

.step__add-element {
  border-radius: 50%;
  border-color: rgb(216, 216, 216);
  width: 3rem;
  height: 3rem;

  &:hover:not(:active) {
    background-color: rgb(216, 216, 216);
  }
}

.step__title-cont {
  margin-right: 1rem;
  margin-bottom: 1rem;
}